[submodule "emacs/use-package"]
	path = emacs/plugins/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "emacs/plugins/highlight-parentheses"]
	path = emacs/plugins/highlight-parentheses
	url = https://github.com/tprk77/highlight-parentheses.el.git
[submodule "emacs/plugins/shell-select"]
	path = emacs/plugins/shell-select
	url = git@github.com:tprk77/shell-select.git
[submodule "emacs/plugins/diminish"]
	path = emacs/plugins/diminish
	url = git@github.com:emacsmirror/diminish.git
[submodule "emacs/plugins/google-styleguide"]
	path = emacs/plugins/google-styleguide
	url = git@github.com:google/styleguide.git
[submodule "emacs/plugins/shell-command"]
	path = emacs/plugins/shell-command
	url = git@github.com:emacsorphanage/shell-command.git
